/*Изменение стилей bootstrap*/

/*Задаю свои стили*/
.my-central-col {
	background-color: #c5f6ff;
	min-height: 100px;
	margin-bottom: 100px;
}

.my-side-col {
	min-height: 100px;
}

.custom-alert {
	display: none;
	margin-bottom: 100px;
}

.my-central-col-2 {
	background-color: #5cffba;
	min-height: 100px;
	margin-bottom: 100px;
}

.progress {
	margin: 20px 0;
}

.my-central-col-3 {
	background-color: #a299ff;
	min-height: 100px;
	margin-bottom: 100px;
}

.body-for-timer {

}